<a href="https://colab.research.google.com/github/EkongJetty/African_Delicacies/blob/master/implementation_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#importing the necessary libraries
import pandas as pd
import numpy as np

In [3]:
#calling KNN packages
from sklearn.neighbors import KNeighborsClassifier
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

In [4]:
#importing the dataset
from google.colab import files
uploaded = files.upload()

Saving malaria_dataset - malaria_dataset.csv to malaria_dataset - malaria_dataset.csv

In [5]:
malaria_data = pd.read_csv("malaria_dataset - malaria_dataset.csv")

In [6]:
malaria_data.head(4)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,households/questions,Q1b: What is the size of your household?,Q1c: What is the occupation of the household h...,Q1d:What is the nature of payment of household...,Q1e: How many days does he/she work in a month?,Q1f: What is the average monthly income of the...,Q4a: What was the total cost of diagnosis incu...,Q4b: What was the total direct medical cost of...,Q5a: What is the total direct non-medical cost...,Q5a: How many production days did the head of ...,Q5b: How many production days did the head of ...,Q5c: How much was the average transportation c...,Q5d: What was the average food cost spent on t...,Q5e: What was the total cost of treatment (inc...,Q6a: How many productive days did the house he...,"Q6b: Apart from the head of household, how man...",Q6c: Did the head of the household stay away f...,"Q6d: If yes to Q6e, specify how many days?"
1,A,7,Fisherman,pensioneer,8,1000,NaN,NaN,NaN,NaN,NaN,16000,4000,20000,5,4,yes,10
2,B,6,Public servant,salary paid,7,5000,NaN,NaN,NaN,NaN,NaN,400,2500,3300,2,10,yes,12
3,C,10,Tailor,salary paid,4,300000,NaN,NaN,NaN,NaN,NaN,1000,10000,12000,1,4,yes,2

In [10]:
'''Column defintions
hh : households 
Q1b : Household size
Q1c : Occupation of the household
Q1d : Nature of payment
Q1e: How many days does he/she work in a month?
Q1f: What is the average monthly income of the household
Q4a: What was the total cost of diagnosis incu
Q4b: What was the total direct medical cost of household
Q50: What is the total direct non-medical cost..
Q5a: How many production days did the head of
Q5b: How many production days did the head of ...
Q5c: How much was the average transportation 
Q5d: What was the average food cost spent on t...	
Q5e: What was the total cost of treatment (inc.
Q6a: How many productive days did the house he.
Q6b: Apart from the head of household, how man
Q6c: Did the head of the household stay away f...
Q6d: If yes to Q6e, specify how many days?

'''

'Column defintions\nhh : households \nQ1b : Household size\nQ1c : Occupation of the household\nQ1d : Nature of payment\nQ1e: How many days does he/she work in a month?\nQ1f: What is the average monthly income of the household\nQ4a: What was the total cost of diagnosis incu\nQ4b: What was the total direct medical cost of household\nQ5a: What is the total direct non-medical cost..\nQ5a: How many production days did the head of\nQ5b: How many production days did the head of ...\nQ5c: How much was the average transportation \nQ5d: What was the average food cost spent on t...\t\nQ5e: What was the total cost of treatment (inc.\nQ6a: How many productive days did the house he.\nQ6b: Apart from the head of household, how man\nQ6c: Did the head of the household stay away f...\nQ6d: If yes to Q6e, specify how many days?\n\n'

In [7]:
columns = ["hh", "Q1b", "Q1c", "Q1d", "Q1e", "Q1f", "Q4a", "Q4b", "Q50" , "Q5a", "Q5b", "Q5c", "Q5d", "Q5e", "Q6a", "Q6b", "Q6c", "Q6d"]

In [8]:
malaria_data.columns  = columns

In [13]:
malaria_data = malaria_data.drop(index = 0)

In [77]:
#malaria_data = malaria_data.drop(index = 0)

In [32]:
malaria_data = malaria_data.fillna(malaria_data.mean())

<ipython-input-32-07c9475f6c39>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  malaria_data = malaria_data.fillna(malaria_data.mean())

In [34]:
malaria_data[malaria_data.select_dtypes(include=['number']).columns] = malaria_data.select_dtypes(include=['number']).apply(pd.to_numeric)

In [67]:
# replace NaN values with the column mean
malaria_data[malaria_data.select_dtypes(include=['number']).columns] = malaria_data.select_dtypes(include=['number']).fillna(malaria_data.select_dtypes(include=['number']).mean())

In [14]:
string_column = malaria_data[['hh', 'Q1c', 'Q1d', 'Q6c']]

In [15]:
numeric_columns = malaria_data.drop(string_column, axis = 1)

In [80]:
numeric_columns = numeric_columns.fillna(numeric_columns.mean())

<ipython-input-80-a10b788778af>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  numeric_columns = numeric_columns.fillna(numeric_columns.mean())

In [81]:
numeric_columns = pd.to_numeric(numeric_columns.columns, errors = "coerce")

In [57]:
numeric_columns = numeric_columns.fillna(numeric_columns.mean())

<ipython-input-57-a10b788778af>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  numeric_columns = numeric_columns.fillna(numeric_columns.mean())

In [90]:
#numeric_columns[[numeric_columns.columns]] = numeric_columns[[numeric_columns.columns]].astype('float')

In [46]:
numeric_columns[['Q4b']] = numeric_columns[['Q4b']].replace("Please specify", np.nan)

In [19]:
numeric_columns["Q1b"] = numeric_columns["Q1b"].astype('float')
numeric_columns['Q1e'] = numeric_columns['Q1e'].astype('float')
numeric_columns['Q1f'] = numeric_columns['Q1f'].astype('float')
numeric_columns['Q4a'] = numeric_columns['Q4a'].astype('float')
numeric_columns['Q4b'] = numeric_columns['Q4b'].astype('float')
numeric_columns['Q50'] = numeric_columns['Q50'].astype('float')
numeric_columns['Q5a'] = numeric_columns['Q5a'].astype('float')
numeric_columns['Q5b'] = numeric_columns['Q5b'].astype('float')
numeric_columns['Q5c'] = numeric_columns['Q5c'].astype('float')
numeric_columns['Q5d'] = numeric_columns['Q5d'].astype('float')
numeric_columns['Q5e'] = numeric_columns['Q5e'].astype('float')
numeric_columns['Q6a'] = numeric_columns['Q6a'].astype('float')
numeric_columns['Q6b'] = numeric_columns['Q6b'].astype('float')
numeric_columns['Q6d'] = numeric_columns['Q6d'].astype('float')

In [20]:
cleaned_df = pd.concat([string_column, numeric_columns], axis = 1)

In [21]:
cleaned_df = cleaned_df.fillna(cleaned_df.mean())

<ipython-input-21-8dccb1b1db66>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  cleaned_df = cleaned_df.fillna(cleaned_df.mean())

In [23]:
cleaned_df

,hh,Q1c,Q1d,Q6c,Q1b,Q1e,Q1f,Q4a,Q4b,Q50,Q5a,Q5b,Q5c,Q5d,Q5e,Q6a,Q6b,Q6d
1,A,Fisherman,pensioneer,yes,7.0,8.0,1000.0,4045.679012,4439.545455,2561.69697,5.163265,72.218045,16000.0,4000.0,20000.0,5.0,4.0,10.0
2,B,Public servant,salary paid,yes,6.0,7.0,5000.0,4045.679012,4439.545455,2561.69697,5.163265,72.218045,400.0,2500.0,3300.0,2.0,10.0,12.0
3,C,Tailor,salary paid,yes,10.0,4.0,300000.0,4045.679012,4439.545455,2561.69697,5.163265,72.218045,1000.0,10000.0,12000.0,1.0,4.0,2.0
4,D,Company worker,Daily paid,yes,4.0,6.0,50000.0,4045.679012,20000.000000,10008.00000,15.000000,9.000000,500.0,6000.0,7000.0,1.0,10.0,4.0
5,E,Business man,Contract,yes,4.0,22.0,200000.0,5000.000000,5000.000000,2561.69697,7.000000,72.218045,1500.0,3000.0,6000.0,2.0,15.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,FAN,Business man,Daily paid,no,5.0,25.0,60000.0,3000.000000,2000.000000,2000.00000,6.000000,5.000000,5500.0,6000.0,17000.0,0.0,1.0,0.0
153,FAO,Company worker,Contract,no,3.0,20.0,80000.0,6000.000000,4439.545455,3000.00000,4.000000,4.000000,2500.0,2000.0,7000.0,0.0,1.0,0.0
154,FAQ,Company worker,Daily paid,no,3.0,20.0,8500.0,9000.000000,5000.000000,2000.00000,8.000000,4.000000,1500.0,12000.0,15000.0,0.0,2.0,0.0
155,FAR,Company worker,Salary paid,yes,2.0,20.0,95000.0,2500.000000,5000.000000,2500.00000,3.000000,2.000000,500.0,3000.0,4000.0,0.0,2.0,0.0
156,FAS,Business man,Contract,no,1.0,20.0,55000.0,5000.000000,3000.000000,1000.00000,4.000000,2.000000,0.0,4000.0,4000.0,0.0,0.0,0.0

In [33]:
#calculating Direct medical cost
total_non_medical_cost = cleaned_df['Q50'].sum()
total_cost_diagnosis = cleaned_df['Q4a'].sum()
total_direct_medical_cost = cleaned_df['Q4b'].sum()

#Total direct cost
total_direct_cost = total_non_medical_cost + total_cost_diagnosis + total_direct_medical_cost

In [34]:
total_non_medical_cost
total_direct_medical_cost
total_cost_diagnosis

631125.9259259258

In [36]:
#calculating for the indirect cost
days_lost_illness = cleaned_df['Q5a'].sum()
days_lost_caring  = cleaned_df['Q5b'].sum()
sick_days = cleaned_df['Q6b'].sum()


cleaned_df['indirect_cost'] = days_lost_illness + days_lost_caring + sick_days

In [62]:
cleaned_df['Indirect_Cost'] = ((cleaned_df['Q1f'] / cleaned_df['Q1e'])) * ((cleaned_df['Q6a'] + cleaned_df['Q6b']))

In [81]:
cleaned_df.head(4)

,hh,Q1c,Q1d,Q6c,Q1b,Q1e,Q1f,Q4a,Q4b,Q50,Q5a,Q5b,Q5c,Q5d,Q5e,Q6a,Q6b,Q6d,Indirect_Cost,Household_burden
1,A,Fisherman,pensioneer,yes,7.0,8.0,1000.0,4045.679012,4439.545455,2561.69697,5.163265,72.218045,16000.0,4000.0,20000.0,5.0,4.0,10.0,1125.000000,21125.000000
2,B,Public servant,salary paid,yes,6.0,7.0,5000.0,4045.679012,4439.545455,2561.69697,5.163265,72.218045,400.0,2500.0,3300.0,2.0,10.0,12.0,8571.428571,11871.428571
3,C,Tailor,salary paid,yes,10.0,4.0,300000.0,4045.679012,4439.545455,2561.69697,5.163265,72.218045,1000.0,10000.0,12000.0,1.0,4.0,2.0,375000.000000,387000.000000
4,D,Company worker,Daily paid,yes,4.0,6.0,50000.0,4045.679012,20000.000000,10008.00000,15.000000,9.000000,500.0,6000.0,7000.0,1.0,10.0,4.0,91666.666667,98666.666667

In [72]:
cleaned_df[['Indirect_Cost']] = cleaned_df[['Indirect_Cost']].replace([np.inf, -np.inf],  0)

In [74]:
total_indirect_cost = cleaned_df['Indirect_Cost'].sum()

In [77]:
cleaned_df['Household_burden'] = cleaned_df['Q5e'] + cleaned_df['Indirect_Cost']

In [80]:
#Calculating the total burden for all the household
total_burden_household = cleaned_df.Household_burden.sum()

In [82]:
total_burden_household

8672281.388458703

In [83]:
#calculating the percent burden for each household

cleaned_df['burden_percent'] = (cleaned_df['Household_burden'] / total_burden_household ) * 100

In [95]:
#Let's categorize these burdens into various categories
max = cleaned_df.burden_percent.max()
min = cleaned_df.burden_percent.min()
range = max - min

In [93]:
max, min, max - min

(20.02093048874202, 0.021908883198007958, 19.999021605544012)

In [97]:
part_size = range / 4

In [109]:
cleaned_df.burden

1       Low burden
2       Low burden
3      High burden
4       Low burden
5       Low burden
          ...
152     Low burden
153     Low burden
154     Low burden
155     Low burden
156     Low burden
Name: burden, Length: 156, dtype: object

In [98]:
part_size

4.999755401386003

In [108]:
cleaned_df['burden'] = ["No burden" if range == 0 else "Low burden" if range < 3 else "High burden" if range < 6 else "Severe burden" for range in cleaned_df.burden_percent]